{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div>
    <h2 class="ttl-bd mt-4 mb-4">投稿情報</h2>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formpost">
        <div>タイトル<span>※必須</span></div>
        {% render_field form.title class="form-control" placeholder="タイトルを入力してください" %}
    </div>
    <div class="formpost">
        <div>エリア<span>※必須</span></div>
        {% render_field form.area class="form-control" placeholder="選択してください" %}
    </div>
    <div class="formpost">
        <div>アトラクション<span>※必須</span></div>
        {% render_field form.attraction class="form-control" placeholder="選択してください" %}
        {% for field in form %}
            {% for error in field.errors %}
                ※アトラクションを選択してください<br>
            {% endfor %}
        {% endfor %}
        {% for error in form.attraction.non_field_errors %} 
            ※{{ error }}
        {% endfor %}
    </div>
    <div class="formpost">
        <div>記事カテゴリ<span>※必須</span></div>
        {% render_field form.category class="form-control" placeholder="選択してください" %}
    </div>
    <div class="formpost">
        {{ form.image }}
    </div>
    <div class="formpost">
        <div>本文（最大10,000文字）<span>※必須</span></div>
        {% render_field form.content class="form-control" placeholder="" %}
    </div>
    <div class="text-center">
        <button class="btn btn-info" type="submit">投稿確認画面へ進む</button>
    </div>
</form>

{% endblock %}

{% block extra_js %}
    <script>
        const areaElement = $('#id_area');
        console.log("areaElement", areaElement)
        const attractionElement = $('#id_attraction');
        const area_attraction = {
            '----選択してください': [
                {
                    'value': '1',
                    'name': '----エリアを選択してください'
                },
            ],
            'ワールドバザール': [
                {
                    'value': '2',
                    'name': 'オムニバス'
                },
                {
                    'value': '3',
                    'name': 'ペニーアーケード'
                },
                {
                    'value': '4',
                    'name': 'ワールドバザール（その他）'
                },
            ],
            'アドベンチャーランド': [
                {
                    'value': '5',
                    'name': 'ウエスタンリバー鉄道'
                },
                {
                    'value': '6',
                    'name': 'カリブの海賊'
                },
                {
                    'value': '7',
                    'name': 'ジャングルクルーズ'
                },
                {
                    'value': '8',
                    'name': 'スイスファミリー・ツリーハウス'
                },
                {
                    'value': '9',
                    'name': '魅惑のチキルーム：スティッチ・プレゼンツ"アロハ・エ・コモ・マイ！"'
                },
                {
                    'value': '10',
                    'name': 'アドベンチャーランド（その他）'
                },
            ],
            'ウエスタンランド': [
                {
                    'value': '11',
                    'name': 'ウエスタンランド・シューティングギャラリー'
                },
                {
                    'value': '12',
                    'name': 'カントリーベア・シアター'
                },
                {
                    'value': '13',
                    'name': '蒸気船マークトウェイン号'
                },
                {
                    'value': '14',
                    'name': 'トムソーヤ島いかだ'
                },
                {
                    'value': '15',
                    'name': 'ビッグサンダー・マウンテン'
                },
                {
                    'value': '16',
                    'name': 'ウエスタンランド（その他）'
                },
            ],
            'クリッターカントリー': [
                {
                    'value': '17',
                    'name': 'スプラッシュ・マウンテン'
                },
                {
                    'value': '18',
                    'name': 'ビーバーブラザーズのカヌー探検'
                },
                {
                    'value': '19',
                    'name': 'クリッターカントリー（その他）'
                },
            ],
            'ファンタジーランド': [
                {
                    'value': '20',
                    'name': 'アリスのティーパーティー'
                },
                {
                    'value': '21',
                    'name': 'イッツ・ア・スモールワールド'
                },
                {
                    'value': '22',
                    'name': '白雪姫と七人のこびと'
                },
                {
                    'value': '23',
                    'name': 'シンデレラのフェアリーテイル・ホール'
                },
                {
                    'value': '24',
                    'name': '空飛ぶダンボ'
                },
                {
                    'value': '25',
                    'name': '美女と野獣"魔法のものがたり"'
                },
                {
                    'value': '26',
                    'name': 'ピーターパン空の旅'
                },
                {
                    'value': '27',
                    'name': 'ピノキオの冒険旅行'
                },
                {
                    'value': '28',
                    'name': 'プーさんのハニーハント'
                },
                {
                    'value': '29',
                    'name': 'ホーンテッドマンション'
                },
                {
                    'value': '30',
                    'name': 'ミッキーのフィルハーマジック'
                },
                {
                    'value': '31',
                    'name': 'キャッスルカルーセル'
                },
                {
                    'value': '32',
                    'name': 'ファンタジーランド（その他）'
                },
            ],
            'トゥーンタウン': [
                {
                    'value': '33',
                    'name': 'ガジェットのゴーコースター'
                },
                {
                    'value': '34',
                    'name': 'グーフィーのペイント&プレイハウス'
                },
                {
                    'value': '35',
                    'name': 'チップとデールのツリーハウス'
                },
                {
                    'value': '36',
                    'name': 'トゥーンパーク'
                },
                {
                    'value': '37',
                    'name': 'ドナルドのボート'
                },
                {
                    'value': '38',
                    'name': 'ミニーの家'
                },
                {
                    'value': '39',
                    'name': 'ロジャーラビットのカートゥーンスピン'
                },
                {
                    'value': '40',
                    'name': 'ミニーのスタイルスタジオ'
                },
                {
                    'value': '41',
                    'name': 'ミッキーの家とミート・ミッキー'
                },
                {
                    'value': '42',
                    'name': 'トゥーンタウン（その他）'
                },
            ],
            'トゥモローランド': [
                {
                    'value': '43',
                    'name': 'スター・ツアーズ：ザ・アドヴェンチャーズ・コンティニュー'
                },
                {
                    'value': '44',
                    'name': 'スティッチ・エンカウンター'
                },
                {
                    'value': '45',
                    'name': 'スペース・マウンテン'
                },
                {
                    'value': '46',
                    'name': 'バズ・ライトイヤーのアストロブラスター'
                },
                {
                    'value': '47',
                    'name': 'ベイマックスのハッピーライド'
                },
                {
                    'value': '48',
                    'name': 'モンスターズ・インク“ライド&ゴーシーク！”'
                },
                {
                    'value': '49',
                    'name': 'トゥモローランド（その他）'
                },
            ],
        };
        console.log("area_attraction", area_attraction)

    const changeArea = (select) => {
        attractionElement.children().remove();
        const parentId = $('#id_area option:selected').text();
        console.log("parentId", parentId)
        const categoryList = area_attraction[parentId];
        console.log("categoryList", categoryList)
        for (const category of categoryList) {
            console.log("category", category)
            const option = $('<option>');
                console.log("option", option)
                option.val(category['value']);
                option.text(category['name']);
                attractionElement.append(option);
            }
            if (select !== undefined) {
                attractionElement.val(select);
            }
        };
        
        $('#id_area').on('change', () => {
            changeArea();
        });

        if (areaElement.val()) {
            const selectedCategory = attractionElement.val();
            changeArea(selectedCategory);
        }
    </script>
{% endblock %}